html, body {
    height: 100%;
    margin: 0;
}

#header, #footer {
    width: 100%;
    position: fixed; /* Only needed for the header */
    left: 0; /* Ensures alignment to the viewport edges */
}

#header {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-around; /* Distribute space evenly around the links */
    z-index: 100;
}

#header a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

#header a:hover {
    background-color: #555; /* Simple hover effect */
}
#footer {
    bottom: 0; /* Aligns the footer to the bottom */
    position: fixed; /* Optional: only if you want the footer fixed as well */
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 30px; /* Adds space between the links */
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.content-wrapper {
    margin-top: 70px; /* Add top margin to .content-wrapper equal to header's height */
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 100px;
    max-height: calc(100vh - 150px); /* Adjust based on header and footer height */
    overflow-y: auto;
}
body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    padding: 0 20px !important; /* Adds 20px padding on the left and right */
}

.row{
    padding: 80px !important; /* Override padding for .row */

}
.alert{
    color: red;
}

.flash-messages {
    margin-top: 60px; /* Adjust this value based on the height of your header */
    z-index: 101;
}
.table-responsive .table{
    margin: 0 auto; /* Centers the table */
    max-width: 60%;
    min-width: 59%/* Limits the table width with some padding on the sides */
}
.button-container {
    z-index: 2;  /* Higher z-index */
}

#leaderboardTable {
    margin: 0 auto; /* Center the table */
    width: 80%; /* Adjust this to control the table width */
}

.container-wrapper {
        padding-left: 20px;  /* Adjust the value as needed */
        padding-right: 20px; /* Adjust the value as needed */
}
.player-history-wrapper {
    padding: 25px;  /* Adjust the padding value as needed */
}
#playerHistoryTable {
    padding: 20px;  /* Adjust the padding value as needed */
}

