html, body {
    height: 100%;
    margin: 0;
}

#header, #footer {
    width: 100%;
    position: fixed; /* Only needed for the header */
    left: 0; /* Ensures alignment to the viewport edges */
}

#header {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-around; /* Distribute space evenly around the links */
}

#header a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

#header a:hover {
    background-color: #555; /* Simple hover effect */
}
#footer {
    bottom: 0; /* Aligns the footer to the bottom */
    position: fixed; /* Optional: only if you want the footer fixed as well */
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 30px; /* Adds space between the links */
    bottom: 0;
    width: 100%;
}

.content-wrapper {
    margin-top: 60px; /* Add top margin to .content-wrapper equal to header's height */
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}
body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    padding: 0 20px; /* Adds 20px padding on the left and right */
}
