<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
</head>
<body>
    <div id="header">
        <a href="/">Place Bets</a>
        <a href="/pending_bets">Pending Bets</a>
        <a href="/leaderboard">Leaderboard</a>
        <a href="/account">Account</a>
    </div>
    <br><br><br>

    <div class="container-wrapper ">
        <table id="leaderboardTable" class="table">
            <p class="text-center">LEADERBOARD</p>
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Bettor Name</th>
                    <th onclick="sortTable(1)">Number of Bets</th>
                    <th onclick="sortTable(2)">Wins</th>
                    <th onclick="sortTable(3)">Losses</th>
                    <th onclick="sortTable(4)">Most Bet Player</th>
                    <th onclick="sortTable(5)">Avg Odds</th>
                    <th onclick="sortTable(6)">Most Used Book</th>
                </tr>
            </thead>
            <tbody>
            <!-- Data will be populated here -->
            </tbody>
        </table>
    </div>
    <!-- Inside your <body> tag, after the leaderboard table -->
    <div class="container-wrapper player-history-wrapper">
        <div class="player-selection">
            <label for="playerSelect">Select Player:</label>
            <select id="playerSelect" class="form-control">
                <option value="">Select a player</option>
                <!-- Dynamically populate this list -->
            </select>
        </div>

        <table id="playerHistoryTable" class="table mt-4">
            <caption class="text-center">Player Betting History</caption>
            <thead>
                <tr>
                    <th>Date Placed</th>
                    <th>Outcome</th>
                    <th>Type of Bet</th>
                    <th>Player Bet On</th>
                    <th>Odds</th>
                    <th>Book</th>
                </tr>
            </thead>
            <tbody>
                <!-- Data will be populated here -->
            </tbody>
        </table>

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/leaderboard.js"></script>
    <script src="/static/leaderboard-history.js"></script>
    <script src="/static/sort-table.js"></script>

</body>
</html>