<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Bet</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">

</head>
<body>
    <div id="header">
        <a href="/">Place Bets</a>
        <a href="/pending_bets">Pending Bets</a>
        <a href="/leaderboard">Leaderboard</a>
        <a href="/account">Account</a>
    </div>

    <div class="container-wrapper">
        <div class="flash-messages">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
        </div>
        <div class="row">
            <!-- Bet Form Column -->
            <div class="col-md-7">
                <h2 class="mt-5">Place Your Bet</h2>
                <form action="/submit_bet" method="post" class="mt-3">
                    <div class="form-group">
                        <label for="user">Select User:</label>
                        <select class="form-control" id="user" name="user">
                            <option value="Higgins">Higgins</option>
                            <option value="Volz">Volz</option>
                            <option value="Eddie">Eddie</option>
                            <option value="Mark">Mark</option>
                            <option value="Danny D">Danny D</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="betType">Type of Bet:</label>
                        <select class="form-control" id="betType" name="betType">
                            <option value="To get a Hit">To get a Hit</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="player">Player:</label>
                        <select class="form-control" id="player" name="player">
                            <option value="">Select a player</option>
                            {% for player in players %}
                            <option value="{{ player.FirstName }} {{ player.LastName }} - {{ player.Team }}">{{ player.FirstName }} {{ player.LastName }} - {{ player.Team }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="odds">Odds:</label>
                        <input type="text" class="form-control" id="odds" name="odds" placeholder="Enter odds">
                    </div>
                    <div class="form-group">
                        <label for="book">Select Book:</label>
                        <select class="form-control" id="book" name="book">
                            <option value="DraftKings">DraftKings</option>
                            <option value="Fanduel">Fanduel</option>
                            <option value="BetMGM">BetMGM</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            <!-- Odds Widget Column -->
            <div class="col-md-5">
                <div id="right-column" class="mt-5">
                    <h1>- Welcome to Pick56 -</h1>
                    <iframe
                        id="sports-odds-widget"
                        title="Sports Odds Widget"
                        style="width: 100%; height: 500px; border: 5px solid black;"
                        src="https://widget.the-odds-api.com/v1/sports/baseball_mlb/events/?accessKey=wk_2df219b4984005f08b0ad800a4238251&bookmakerKeys=betmgm&oddsFormat=american&markets=h2h%2Cspreads%2Ctotals&marketNames=h2h%3AMoneyline%2Cspreads%3ASpreads%2Ctotals%3AOver%2FUnder"
                    ></iframe>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div id="version-info">{{ version_info }}</div>
        <a href="/aboutus">About Us</a>
        <a href="/contactus">Contact Us</a>
        <a href="#">Careers</a>
    </div>
    <script src="/static/custom-select2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

